<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Employees Information</title>
</head>
<body>
    <h1>All Employees Information</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                {% comment %} <th>Department</th> {% endcomment %}
                <th>Position</th>
                <th>Contact Information</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.name }}</td>
                {% comment %} <td>{{ employee.department }}</td> {% endcomment %}
                <td>{{ employee.position }}</td>
                <td>{{ employee.contact_information }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>



















<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
   